<div class="container">
    <h2>Productos disponibles</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Categoría</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of productos">
                <th scope="row">{{producto.id}}</th>
                <td>{{producto.nombre}}</td>
                <td>{{producto.precio}} €</td>
                <td>{{producto.categoria.nombre}}</td>
                <td>
                    <button class="btn btn-success me-2" [routerLink]="['formulario',producto.id]">Editar</button>
                    <button class="btn btn-danger" (click)="eliminarProducto(producto.id)" >Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>