<h2>Mis héroes</h2>
<ul class="heroes">
  <li *ngFor="let heroes of heroes">
    <a routerLink="/detalle/{{ heroes.id }}">
      <span class="badge">{{ heroes.id }}</span> {{ heroes.nombre }}
    </a>
  </li>
</ul>
<div>
  <label for="new-hero">Hero name: </label>
  <input id="new-hero" #heroName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(heroName.value); heroName.value=''">
    Añadir nuevo héroe
  </button>
</div>